/* Général */
body {
    background-color: black;
    color: violet;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Conteneur principal */
.calculator {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
}

/*Titres */
h1, h2 {
    color: violet;
    margin-bottom: 20px;
}

/*Champs de saisie et menu déroulant */
.input-container input,
.operation-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: violet;
    font-size: 1rem;
}

/ Bouton */
.button-container button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: green;
  color: violet;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: darkgreen;
}